@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
  }

  h1,
  h2,
  h3,
  .brand-font {
    font-family: 'Patrick Hand', cursive;
  }
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
}
